lead-auto.json
{
  "name": "Business Discovery + Online Presence Audit (LocationIQ)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Business Discovery & Audit",
        "formDescription": "Search any business category in any city. Powered by LocationIQ + AI.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Business Category",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Hotels" },
                  { "option": "Guest Houses" },
                  { "option": "Restaurants" },
                  { "option": "Cafes" },
                  { "option": "Bars" },
                  { "option": "Clinics" },
                  { "option": "Hospitals" },
                  { "option": "Pharmacies" },
                  { "option": "Salons" },
                  { "option": "Supermarkets" },
                  { "option": "Banks" },
                  { "option": "Schools" },
                  { "option": "Tour Operators" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "City",
              "fieldType": "text",
              "placeholder": "e.g. Kigali",
              "requiredField": true
            },
            {
              "fieldLabel": "Search Radius (meters)",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "2000" },
                  { "option": "5000" },
                  { "option": "10000" }
                ]
              },
              "requiredField": false
            }
          ]
        },
        "options": {
          "respondWith": "text",
          "responseText": "✅ Audit started! Results will appear in your Google Sheet shortly."
        }
      },
      "id": "node-0001",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [180, 400],
      "webhookId": "form-trigger-locationiq-001"
    },
    {
      "parameters": {
        "jsCode": "// Map form category labels to LocationIQ / OSM PoI tags\n// LocationIQ Nearby supports both single-word tags and key=value pairs\nconst categoryInput = $input.first().json['Business Category'];\nconst city          = $input.first().json['City'];\nconst radius        = $input.first().json['Search Radius (meters)'] || '5000';\n\nconst tagMap = {\n  'Hotels':          'hotel',\n  'Guest Houses':    'guest_house',\n  'Restaurants':     'restaurant',\n  'Cafes':           'cafe',\n  'Bars':            'bar',\n  'Clinics':         'clinic',\n  'Hospitals':       'hospital',\n  'Pharmacies':      'pharmacy',\n  'Salons':          'beauty',\n  'Supermarkets':    'supermarket',\n  'Banks':           'bank',\n  'Schools':         'school',\n  'Tour Operators':  'travel_agent'\n};\n\nconst tag = tagMap[categoryInput] || categoryInput.toLowerCase();\n\nreturn [{\n  json: {\n    category:  categoryInput,\n    city:      city,\n    tag:       tag,\n    radius:    radius,\n    token:     'pk.c9672dfbd60d64e1282081cb90e4222d'\n  }\n}];"
      },
      "id": "node-0002",
      "name": "Map Category to LocationIQ Tag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://us1.locationiq.com/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "key",    "value": "={{ $json.token }}" },
            { "name": "q",      "value": "={{ $json.city }}" },
            { "name": "format", "value": "json" },
            { "name": "limit",  "value": "1" }
          ]
        },
        "options": {}
      },
      "id": "node-0003",
      "name": "LocationIQ — Geocode City",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 400]
    },
    {
      "parameters": {
        "jsCode": "// Extract lat/lon from geocoding result and pass forward\nconst geo      = $input.first().json;\nconst inputs   = $('Map Category to LocationIQ Tag').first().json;\n\nif (!geo || !geo[0]) {\n  throw new Error('Could not geocode city: ' + inputs.city + '. Check the city name and try again.');\n}\n\nconst lat = geo[0].lat;\nconst lon = geo[0].lon;\nconst displayName = geo[0].display_name;\n\nreturn [{\n  json: {\n    category:     inputs.category,\n    city:         inputs.city,\n    tag:          inputs.tag,\n    radius:       inputs.radius,\n    token:        inputs.token,\n    lat:          lat,\n    lon:          lon,\n    display_name: displayName\n  }\n}];"
      },
      "id": "node-0004",
      "name": "Extract Coordinates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://us1.locationiq.com/v1/nearby",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "key",    "value": "={{ $json.token }}" },
            { "name": "lat",    "value": "={{ $json.lat }}" },
            { "name": "lon",    "value": "={{ $json.lon }}" },
            { "name": "tag",    "value": "={{ $json.tag }}" },
            { "name": "radius", "value": "={{ $json.radius }}" },
            { "name": "format", "value": "json" }
          ]
        },
        "options": {}
      },
      "id": "node-0005",
      "name": "LocationIQ — Nearby Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 400]
    },
    {
      "parameters": {
        "jsCode": "// Parse LocationIQ Nearby PoI results into clean business records\n// LocationIQ returns: place_id, osm_id, lat, lon, display_name, address{}, namedetails{}\nconst results  = $input.first().json;\nconst inputs   = $('Extract Coordinates').first().json;\n\nif (!results || !Array.isArray(results) || results.length === 0) {\n  return [{\n    json: {\n      error:    'No businesses found by LocationIQ for: ' + inputs.category + ' in ' + inputs.city,\n      category: inputs.category,\n      city:     inputs.city\n    }\n  }];\n}\n\nreturn results.map(place => {\n  const addr = place.address || {};\n\n  // Build readable address from LocationIQ address object\n  const addressParts = [\n    addr.road || addr.pedestrian,\n    addr.suburb || addr.neighbourhood,\n    addr.city || addr.town || addr.village || inputs.city,\n    addr.country\n  ].filter(Boolean);\n\n  // LocationIQ gives us the name directly\n  const name = place.name || place.namedetails?.name || place.display_name?.split(',')[0] || 'Unknown';\n\n  // Build Google Maps search link using name + city\n  const mapsSearch = 'https://www.google.com/maps/search/' + encodeURIComponent(name + ' ' + inputs.city);\n\n  return {\n    json: {\n      place_id:       place.place_id,\n      osm_id:         place.osm_id,\n      osm_type:       place.osm_type,\n      name:           name,\n      category:       inputs.category,\n      city:           inputs.city,\n      address:        addressParts.join(', ') || inputs.city,\n      lat:            place.lat,\n      lon:            place.lon,\n      // LocationIQ may return website/phone if present in OSM data\n      website:        place.address?.website || null,\n      phone:          place.address?.phone   || null,\n      has_website:    !!(place.address?.website),\n      has_phone:      !!(place.address?.phone),\n      // Direct links\n      osm_url:        'https://www.openstreetmap.org/' + (place.osm_type || 'node') + '/' + place.osm_id,\n      maps_search_url: mapsSearch,\n      token:          inputs.token\n    }\n  };\n});"
      },
      "id": "node-0006",
      "name": "Parse Business Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 400]
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "id": "node-0007",
      "name": "Process in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://us1.locationiq.com/v1/reverse",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "key",               "value": "={{ $json.token }}" },
            { "name": "lat",               "value": "={{ $json.lat }}" },
            { "name": "lon",               "value": "={{ $json.lon }}" },
            { "name": "format",            "value": "json" },
            { "name": "addressdetails",    "value": "1" },
            { "name": "extratags",         "value": "1" },
            { "name": "namedetails",       "value": "1" },
            { "name": "normalizeaddress",  "value": "1" }
          ]
        },
        "options": {}
      },
      "id": "node-0008",
      "name": "LocationIQ — Enrich with Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1720, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Merge LocationIQ reverse geocode enrichment with the base business record\n// extratags contains: website, phone, email, opening_hours, contact:* etc.\nconst detail  = $input.first().json;\nconst biz     = $('Process in Batches').first().json;\nconst extra   = detail.extratags || {};\nconst addr    = detail.address   || {};\n\n// Extract all possible website and contact fields\nconst website   = extra.website          || extra['contact:website']  || extra.url          || biz.website  || null;\nconst phone     = extra.phone            || extra['contact:phone']    || extra['contact:mobile'] || biz.phone || null;\nconst email     = extra.email            || extra['contact:email']    || null;\nconst facebook  = extra['contact:facebook']  || extra.facebook        || null;\nconst instagram = extra['contact:instagram'] || extra.instagram       || null;\nconst twitter   = extra['contact:twitter']   || extra.twitter         || null;\nconst whatsapp  = extra['contact:whatsapp']  || null;\nconst hours     = extra.opening_hours    || null;\n\n// Refined address from reverse geocode\nconst refinedAddress = [\n  addr.road || addr.pedestrian,\n  addr.suburb || addr.neighbourhood || addr.quarter,\n  addr.city || addr.town || biz.city\n].filter(Boolean).join(', ') || biz.address;\n\nreturn [{\n  json: {\n    // Carry forward all base fields\n    ...biz,\n    // Override with enriched data\n    address:        refinedAddress,\n    website:        website,\n    has_website:    !!website,\n    phone:          phone,\n    has_phone:      !!phone,\n    email:          email,\n    facebook_direct: facebook,\n    instagram_direct: instagram,\n    twitter_direct: twitter,\n    whatsapp_direct: whatsapp,\n    opening_hours:  hours,\n    has_hours:      !!hours,\n    // Store all raw extra tags for AI context\n    extra_tags_raw: JSON.stringify(extra).substring(0, 300)\n  }\n}];"
      },
      "id": "node-0009",
      "name": "Extract All Business Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1940, 400]
    },
    {
      "parameters": {
        "method": "HEAD",
        "url": "={{ $json.website }}",
        "options": {
          "timeout": 8000,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 3
            }
          }
        }
      },
      "id": "node-0010",
      "name": "Check Website Live",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 260],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const item       = $input.first();\nconst statusCode = item.json.statusCode || item.json.status || 0;\nconst isLive     = statusCode >= 200 && statusCode < 400;\n\nreturn [{\n  json: {\n    website_live:        isLive,\n    website_status_code: statusCode,\n    website_checked:     true\n  }\n}];"
      },
      "id": "node-0011",
      "name": "Evaluate Website Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2380, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a digital presence analyst for businesses in Africa. Research the online footprint of businesses. Return ONLY a raw valid JSON object — no markdown, no code blocks, no preamble.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze the full online presence of this business. Some info was already found from LocationIQ/OpenStreetMap — do NOT re-report what we already have, only find what is MISSING:\\n\\nName: {{ $json.name }}\\nCategory: {{ $json.category }}\\nCity: {{ $json.city }}\\nAddress: {{ $json.address }}\\nWebsite (from map data): {{ $json.website || 'Not found' }}\\nPhone (from map data): {{ $json.phone || 'Not found' }}\\nFacebook (from map data): {{ $json.facebook_direct || 'Not found' }}\\nInstagram (from map data): {{ $json.instagram_direct || 'Not found' }}\\nOpening hours (from map data): {{ $json.opening_hours || 'Not found' }}\\n\\nResearch what else exists online and return this JSON:\\n{\\n  \\\"facebook_url\\\": null,\\n  \\\"instagram_url\\\": null,\\n  \\\"twitter_url\\\": null,\\n  \\\"linkedin_url\\\": null,\\n  \\\"tripadvisor_listed\\\": false,\\n  \\\"booking_com_listed\\\": false,\\n  \\\"airbnb_listed\\\": false,\\n  \\\"whatsapp_business\\\": false,\\n  \\\"has_google_business\\\": false,\\n  \\\"online_score\\\": 0,\\n  \\\"missing_channels\\\": [],\\n  \\\"weakness\\\": \\\"One sentence: biggest digital gap.\\\",\\n  \\\"opportunity\\\": \\\"One sentence: best growth move online.\\\",\\n  \\\"priority\\\": \\\"high|medium|low\\\"\\n}\"\n    }\n  ],\n  \"max_tokens\": 500,\n  \"temperature\": 0.1\n}",
        "options": {}
      },
      "id": "node-0012",
      "name": "Groq AI — Deep Social Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 540]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nlet ai = {};\ntry {\n  const raw     = resp.choices?.[0]?.message?.content || '{}';\n  const cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  ai = JSON.parse(cleaned);\n} catch (e) {\n  ai = {\n    facebook_url: null, instagram_url: null, twitter_url: null, linkedin_url: null,\n    tripadvisor_listed: false, booking_com_listed: false, airbnb_listed: false,\n    whatsapp_business: false, has_google_business: false,\n    online_score: 0, missing_channels: [],\n    weakness: 'AI analysis failed — manual review needed',\n    opportunity: 'Manual review needed',\n    priority: 'medium'\n  };\n}\nreturn [{ json: ai }];"
      },
      "id": "node-0013",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2380, 540]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "node-0014",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2600, 400]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst biz   = $('Extract All Business Details').first().json;\n\n// Website live check\nlet websiteLive = false, statusCode = 0;\ntry {\n  const ws = items.find(i => i.json.website_checked);\n  websiteLive = ws?.json?.website_live || false;\n  statusCode  = ws?.json?.website_status_code || 0;\n} catch(e) {}\n\n// AI result\nlet ai = {};\ntry {\n  const aiItem = items.find(i => i.json.hasOwnProperty('online_score'));\n  ai = aiItem?.json || {};\n} catch(e) {}\n\n// ---- SCORING (0–100) ----\nlet score = 0;\n\n// LocationIQ / Map data signals — what we KNOW for certain\nif (biz.has_website)                              score += 15; // Has website in map data\nif (biz.has_website && websiteLive)               score += 10; // Website is actually live\nif (biz.has_phone)                                score += 5;  // Has phone number\nif (biz.has_hours)                                score += 5;  // Has opening hours\nif (biz.facebook_direct || ai.facebook_url)       score += 7;  // Facebook\nif (biz.instagram_direct || ai.instagram_url)     score += 7;  // Instagram\n\n// AI-discovered platforms\nif (ai.twitter_url)                               score += 3;  // Twitter/X\nif (ai.linkedin_url)                              score += 3;  // LinkedIn\nif (ai.whatsapp_business || biz.whatsapp_direct)  score += 5;  // WhatsApp Business\nif (ai.has_google_business)                       score += 15; // Google Business Profile\nif (ai.tripadvisor_listed)                        score += 10; // TripAdvisor\nif (ai.booking_com_listed)                        score += 10; // Booking.com\nif (ai.airbnb_listed)                             score += 5;  // Airbnb\n\nscore = Math.min(100, score);\n\nlet tier, tier_emoji;\nif      (score >= 70) { tier = 'Strong';   tier_emoji = '🟢'; }\nelse if (score >= 40) { tier = 'Moderate'; tier_emoji = '🟡'; }\nelse                  { tier = 'Weak';     tier_emoji = '🔴'; }\n\n// Prefer map-sourced data over AI guesses where both exist\nconst facebook  = biz.facebook_direct  || ai.facebook_url  || 'Not found';\nconst instagram = biz.instagram_direct || ai.instagram_url || 'Not found';\nconst twitter   = biz.twitter_direct   || ai.twitter_url   || 'Not found';\nconst whatsapp  = biz.whatsapp_direct  || (ai.whatsapp_business ? 'Active' : 'Not found');\n\nreturn [{\n  json: {\n    business_name:      biz.name,\n    category:           biz.category,\n    city:               biz.city,\n    address:            biz.address,\n    phone:              biz.phone        || 'Not listed',\n    email:              biz.email        || 'Not listed',\n    website:            biz.website      || 'Not listed',\n    has_website:        biz.has_website,\n    website_live:       websiteLive,\n    opening_hours:      biz.opening_hours|| 'Not listed',\n    facebook:           facebook,\n    instagram:          instagram,\n    twitter:            twitter,\n    linkedin:           ai.linkedin_url  || 'Not found',\n    whatsapp:           whatsapp,\n    tripadvisor:        ai.tripadvisor_listed  || false,\n    booking_com:        ai.booking_com_listed  || false,\n    airbnb:             ai.airbnb_listed       || false,\n    google_business:    ai.has_google_business || false,\n    online_score:       score,\n    full_tier:          tier_emoji + ' ' + tier,\n    tier:               tier,\n    priority:           ai.priority            || 'medium',\n    missing_channels:   (ai.missing_channels || []).join(', ') || 'None identified',\n    weakness:           ai.weakness            || 'Unknown',\n    opportunity:        ai.opportunity         || 'Unknown',\n    maps_search_url:    biz.maps_search_url,\n    osm_url:            biz.osm_url,\n    outreach_message:   '',\n    audited_date:       new Date().toLocaleDateString('en-GB'),\n    audited_at:         new Date().toISOString()\n  }\n}];"
      },
      "id": "node-0015",
      "name": "Compute Final Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2820, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Business Audit",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Business Name":     "={{ $json.business_name }}",
            "Category":          "={{ $json.category }}",
            "City":              "={{ $json.city }}",
            "Address":           "={{ $json.address }}",
            "Phone":             "={{ $json.phone }}",
            "Email":             "={{ $json.email }}",
            "Website":           "={{ $json.website }}",
            "Website Live":      "={{ $json.website_live }}",
            "Opening Hours":     "={{ $json.opening_hours }}",
            "Facebook":          "={{ $json.facebook }}",
            "Instagram":         "={{ $json.instagram }}",
            "Twitter":           "={{ $json.twitter }}",
            "LinkedIn":          "={{ $json.linkedin }}",
            "WhatsApp":          "={{ $json.whatsapp }}",
            "TripAdvisor":       "={{ $json.tripadvisor }}",
            "Booking.com":       "={{ $json.booking_com }}",
            "Airbnb":            "={{ $json.airbnb }}",
            "Google Business":   "={{ $json.google_business }}",
            "Online Score":      "={{ $json.online_score }}",
            "Tier":              "={{ $json.full_tier }}",
            "Priority":          "={{ $json.priority }}",
            "Missing Channels":  "={{ $json.missing_channels }}",
            "Weakness":          "={{ $json.weakness }}",
            "Opportunity":       "={{ $json.opportunity }}",
            "Maps Search URL":   "={{ $json.maps_search_url }}",
            "OSM URL":           "={{ $json.osm_url }}",
            "Outreach Message":  "",
            "Audited Date":      "={{ $json.audited_date }}"
          }
        },
        "options": {}
      },
      "id": "node-0016",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3040, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheets-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.tier }}",
              "rightValue": "Weak",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-0017",
      "name": "Is Weak Tier?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3260, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a digital marketing consultant in Africa. Write concise, persuasive cold outreach messages for a digital agency. Return only the message body — no subject line, no greeting, no sign-off.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a 5-6 sentence outreach message for a digital agency contacting:\\n\\nBusiness: {{ $json.business_name }}\\nCategory: {{ $json.category }}\\nCity: {{ $json.city }}\\nWeakness: {{ $json.weakness }}\\nOpportunity: {{ $json.opportunity }}\\nMissing platforms: {{ $json.missing_channels }}\\n\\nBe specific about what gaps were found. End with a soft free consultation offer.\"\n    }\n  ],\n  \"max_tokens\": 300,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "node-0018",
      "name": "Generate Outreach Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3480, 280]
    },
    {
      "parameters": {
        "jsCode": "const groqResp = $input.first().json;\nconst message  = groqResp.choices?.[0]?.message?.content || 'Could not generate message';\nconst business = $('Compute Final Score').first().json;\nreturn [{ json: { ...business, outreach_message: message.trim() } }];"
      },
      "id": "node-0019",
      "name": "Attach Outreach to Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3700, 280]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Business Audit",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Outreach Message": "={{ $json.outreach_message }}"
          }
        },
        "where": {
          "values": [
            {
              "lookupColumn": "Business Name",
              "lookupValue":  "={{ $json.business_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-0020",
      "name": "Save Outreach to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3920, 280],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheets-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds",
        "value": 2
      },
      "id": "node-0021",
      "name": "Rate Limit Pause",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3480, 520],
      "webhookId": "wait-webhook-locationiq-001"
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [[{ "node": "Map Category to LocationIQ Tag", "type": "main", "index": 0 }]]
    },
    "Map Category to LocationIQ Tag": {
      "main": [[{ "node": "LocationIQ — Geocode City", "type": "main", "index": 0 }]]
    },
    "LocationIQ — Geocode City": {
      "main": [[{ "node": "Extract Coordinates", "type": "main", "index": 0 }]]
    },
    "Extract Coordinates": {
      "main": [[{ "node": "LocationIQ — Nearby Businesses", "type": "main", "index": 0 }]]
    },
    "LocationIQ — Nearby Businesses": {
      "main": [[{ "node": "Parse Business Results", "type": "main", "index": 0 }]]
    },
    "Parse Business Results": {
      "main": [[{ "node": "Process in Batches", "type": "main", "index": 0 }]]
    },
    "Process in Batches": {
      "main": [[{ "node": "LocationIQ — Enrich with Details", "type": "main", "index": 0 }]]
    },
    "LocationIQ — Enrich with Details": {
      "main": [[{ "node": "Extract All Business Details", "type": "main", "index": 0 }]]
    },
    "Extract All Business Details": {
      "main": [
        [
          { "node": "Check Website Live",         "type": "main", "index": 0 },
          { "node": "Groq AI — Deep Social Audit", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Website Live": {
      "main": [[{ "node": "Evaluate Website Status", "type": "main", "index": 0 }]]
    },
    "Evaluate Website Status": {
      "main": [[{ "node": "Merge All Data", "type": "main", "index": 0 }]]
    },
    "Groq AI — Deep Social Audit": {
      "main": [[{ "node": "Parse AI Response", "type": "main", "index": 0 }]]
    },
    "Parse AI Response": {
      "main": [[{ "node": "Merge All Data", "type": "main", "index": 1 }]]
    },
    "Merge All Data": {
      "main": [[{ "node": "Compute Final Score", "type": "main", "index": 0 }]]
    },
    "Compute Final Score": {
      "main": [[{ "node": "Save to Google Sheets", "type": "main", "index": 0 }]]
    },
    "Save to Google Sheets": {
      "main": [[{ "node": "Is Weak Tier?", "type": "main", "index": 0 }]]
    },
    "Is Weak Tier?": {
      "main": [
        [{ "node": "Generate Outreach Message", "type": "main", "index": 0 }],
        [{ "node": "Rate Limit Pause",           "type": "main", "index": 0 }]
      ]
    },
    "Generate Outreach Message": {
      "main": [[{ "node": "Attach Outreach to Record", "type": "main", "index": 0 }]]
    },
    "Attach Outreach to Record": {
      "main": [[{ "node": "Save Outreach to Sheet", "type": "main", "index": 0 }]]
    },
    "Save Outreach to Sheet": {
      "main": [[{ "node": "Rate Limit Pause", "type": "main", "index": 0 }]]
    },
    "Rate Limit Pause": {
      "main": [[{ "node": "Process in Batches", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "id": "tag-001", "name": "business-discovery" },
    { "id": "tag-002", "name": "locationiq" },
    { "id": "tag-003", "name": "free-stack" }
  ],
  "versionId": "v4.0.0"
}