lead-auto.json
{
  "name": "Business Discovery + Online Presence Audit",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Business Audit Search",
        "formDescription": "Enter a business category and a location to discover businesses and audit their online presence.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Business Category",
              "fieldType": "text",
              "placeholder": "e.g. hotels, restaurants, clinics, salons",
              "requiredField": true
            },
            {
              "fieldLabel": "Location",
              "fieldType": "text",
              "placeholder": "e.g. Kigali, Rwanda",
              "requiredField": true
            }
          ]
        },
        "options": {
          "respondWith": "text",
          "responseText": "✅ Audit started! Your results will appear in Google Sheets shortly."
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [180, 400],
      "webhookId": "form-trigger-webhook-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "category",
              "value": "={{ $json['Business Category'] }}",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "location",
              "value": "={{ $json['Location'] }}",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "search_query",
              "value": "={{ $json['Business Category'] + ' in ' + $json['Location'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Build Search Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip"
            },
            {
              "name": "X-Subscription-Token",
              "value": "={{ $env.BRAVE_API_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.search_query }}"
            },
            {
              "name": "count",
              "value": "10"
            },
            {
              "name": "search_lang",
              "value": "en"
            },
            {
              "name": "result_filter",
              "value": "web"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Brave Search API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 400]
    },
    {
      "parameters": {
        "jsCode": "// Parse Brave Search results into individual business items\nconst results = $input.first().json.web?.results || [];\nconst category = $('Build Search Query').first().json.category;\nconst location = $('Build Search Query').first().json.location;\n\nif (results.length === 0) {\n  return [{ json: { error: 'No results found', category, location } }];\n}\n\nreturn results.map(r => ({\n  json: {\n    name: r.title || 'Unknown',\n    website: r.url || null,\n    description: r.description || '',\n    domain: r.url ? (() => { try { return new URL(r.url).hostname; } catch(e) { return null; } })() : null,\n    has_website: !!r.url,\n    category: category,\n    location: location\n  }\n}));"
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Parse Business Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 400]
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Process in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1060, 400]
    },
    {
      "parameters": {
        "method": "HEAD",
        "url": "={{ $json.website }}",
        "options": {
          "timeout": 8000,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 3
            }
          }
        }
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Check Website Live",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 260],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Determine if website is live based on HTTP response\nconst item = $input.first();\nconst statusCode = item.json.statusCode || item.json.status || 0;\nconst isLive = statusCode >= 200 && statusCode < 400;\n\nreturn [{\n  json: {\n    website_live: isLive,\n    website_status_code: statusCode,\n    website_checked: true\n  }\n}];"
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Evaluate Website Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a business intelligence analyst. Your job is to research and assess the online presence of businesses. Always return ONLY a valid JSON object with no markdown formatting, no code blocks, no extra text whatsoever. Just raw JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research the online presence of this business:\\nName: {{ $json.name }}\\nCategory: {{ $json.category }}\\nLocation: {{ $json.location }}\\nWebsite found: {{ $json.website || 'none' }}\\n\\nReturn exactly this JSON structure (fill in what you can research or infer, use null if truly unknown):\\n{\\n  \\\"facebook_url\\\": null,\\n  \\\"instagram_url\\\": null,\\n  \\\"twitter_url\\\": null,\\n  \\\"tripadvisor_listed\\\": false,\\n  \\\"booking_com_listed\\\": false,\\n  \\\"google_business_likely\\\": false,\\n  \\\"whatsapp_number\\\": null,\\n  \\\"online_score\\\": 0,\\n  \\\"missing_channels\\\": [],\\n  \\\"weakness\\\": \\\"Describe the biggest gap in their online presence in one sentence.\\\",\\n  \\\"opportunity\\\": \\\"Describe the biggest opportunity to improve their online presence in one sentence.\\\"\\n}\"\n    }\n  ],\n  \"max_tokens\": 500,\n  \"temperature\": 0.1\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Groq AI Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 540]
    },
    {
      "parameters": {
        "jsCode": "// Parse Groq AI response safely\nconst groqResponse = $input.first().json;\nlet aiData = {};\n\ntry {\n  const rawContent = groqResponse.choices?.[0]?.message?.content || '{}';\n  const cleaned = rawContent.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  aiData = JSON.parse(cleaned);\n} catch (e) {\n  aiData = {\n    facebook_url: null,\n    instagram_url: null,\n    twitter_url: null,\n    tripadvisor_listed: false,\n    booking_com_listed: false,\n    google_business_likely: false,\n    whatsapp_number: null,\n    online_score: 0,\n    missing_channels: [],\n    weakness: 'Could not analyze — manual review needed',\n    opportunity: 'Manual review needed'\n  };\n}\n\nreturn [{ json: aiData }];"
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 540]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Merge Website + AI Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1720, 400]
    },
    {
      "parameters": {
        "jsCode": "// Merge all data and compute final Online Presence Score\nconst items = $input.all();\nconst batchItem = $('Process in Batches').first().json;\n\n// Get website check result\nlet websiteLive = false;\nlet statusCode = 0;\ntry {\n  const wsItem = items.find(i => i.json.website_checked);\n  websiteLive = wsItem?.json?.website_live || false;\n  statusCode = wsItem?.json?.website_status_code || 0;\n} catch(e) {}\n\n// Get AI audit result\nlet aiData = {};\ntry {\n  const aiItem = items.find(i => i.json.hasOwnProperty('online_score'));\n  aiData = aiItem?.json || {};\n} catch(e) {}\n\n// Compute weighted score (0-100)\nlet score = 0;\nif (batchItem.has_website && websiteLive) score += 25;\nif (aiData.facebook_url)            score += 10;\nif (aiData.instagram_url)           score += 10;\nif (aiData.tripadvisor_listed)      score += 15;\nif (aiData.booking_com_listed)      score += 20;\nif (aiData.google_business_likely)  score += 20;\n\nscore = Math.min(100, score);\n\n// Assign tier\nlet tier, tier_emoji;\nif (score >= 70)      { tier = 'Strong';   tier_emoji = '🟢'; }\nelse if (score >= 40) { tier = 'Moderate'; tier_emoji = '🟡'; }\nelse                  { tier = 'Weak';     tier_emoji = '🔴'; }\n\nreturn [{\n  json: {\n    business_name:        batchItem.name || 'Unknown',\n    category:             batchItem.category || '',\n    location:             batchItem.location || '',\n    website:              batchItem.website || 'None',\n    description:          batchItem.description || '',\n    has_website:          batchItem.has_website,\n    website_live:         websiteLive,\n    website_status_code:  statusCode,\n    facebook_url:         aiData.facebook_url || 'Not found',\n    instagram_url:        aiData.instagram_url || 'Not found',\n    twitter_url:          aiData.twitter_url || 'Not found',\n    whatsapp_number:      aiData.whatsapp_number || 'Not found',\n    tripadvisor_listed:   aiData.tripadvisor_listed || false,\n    booking_com_listed:   aiData.booking_com_listed || false,\n    google_business:      aiData.google_business_likely || false,\n    online_score:         score,\n    tier:                 tier,\n    tier_emoji:           tier_emoji,\n    full_tier:            tier_emoji + ' ' + tier,\n    missing_channels:     (aiData.missing_channels || []).join(', ') || 'None identified',\n    weakness:             aiData.weakness || 'Unknown',\n    opportunity:          aiData.opportunity || 'Unknown',\n    audited_at:           new Date().toISOString(),\n    audited_date:         new Date().toLocaleDateString('en-GB')\n  }\n}];"
      },
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Compute Final Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1940, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Business Audit",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Business Name":     "={{ $json.business_name }}",
            "Category":          "={{ $json.category }}",
            "Location":          "={{ $json.location }}",
            "Website":           "={{ $json.website }}",
            "Website Live":      "={{ $json.website_live }}",
            "Facebook":          "={{ $json.facebook_url }}",
            "Instagram":         "={{ $json.instagram_url }}",
            "Twitter":           "={{ $json.twitter_url }}",
            "WhatsApp":          "={{ $json.whatsapp_number }}",
            "TripAdvisor":       "={{ $json.tripadvisor_listed }}",
            "Booking.com":       "={{ $json.booking_com_listed }}",
            "Google Business":   "={{ $json.google_business }}",
            "Online Score":      "={{ $json.online_score }}",
            "Tier":              "={{ $json.full_tier }}",
            "Missing Channels":  "={{ $json.missing_channels }}",
            "Weakness":          "={{ $json.weakness }}",
            "Opportunity":       "={{ $json.opportunity }}",
            "Outreach Message":  "",
            "Audited Date":      "={{ $json.audited_date }}"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2160, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheets-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.tier }}",
              "rightValue": "Weak",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "Is Weak Tier?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2380, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert business development consultant. Write short, friendly, professional outreach messages for a digital agency. Return only the message body text — no subject line, no Dear/Hi greeting, no sign-off.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a 5-7 sentence outreach message for a digital agency contacting this business:\\nBusiness: {{ $json.business_name }}\\nCategory: {{ $json.category }}\\nLocation: {{ $json.location }}\\nWeakness: {{ $json.weakness }}\\nOpportunity: {{ $json.opportunity }}\\n\\nTone: friendly, helpful, data-driven. Mention 1-2 specific digital gaps found. End with a soft call-to-action offering a free consultation.\"\n    }\n  ],\n  \"max_tokens\": 300,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0014-0014-0014-000000000014",
      "name": "Generate Outreach Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 280]
    },
    {
      "parameters": {
        "jsCode": "// Extract outreach message and attach to business record\nconst groqResp = $input.first().json;\nconst message = groqResp.choices?.[0]?.message?.content || 'Could not generate message';\nconst business = $('Compute Final Score').first().json;\n\nreturn [{\n  json: {\n    ...business,\n    outreach_message: message.trim()\n  }\n}];"
      },
      "id": "a1b2c3d4-0015-0015-0015-000000000015",
      "name": "Attach Outreach to Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2820, 280]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Business Audit",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Outreach Message": "={{ $json.outreach_message }}"
          }
        },
        "where": {
          "values": [
            {
              "lookupColumn": "Business Name",
              "lookupValue": "={{ $json.business_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0016-0016-0016-000000000016",
      "name": "Save Outreach to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3040, 280],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheets-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds",
        "value": 2
      },
      "id": "a1b2c3d4-0017-0017-0017-000000000017",
      "name": "Rate Limit Pause",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2600, 520],
      "webhookId": "wait-webhook-001"
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [{ "node": "Build Search Query", "type": "main", "index": 0 }]
      ]
    },
    "Build Search Query": {
      "main": [
        [{ "node": "Brave Search API", "type": "main", "index": 0 }]
      ]
    },
    "Brave Search API": {
      "main": [
        [{ "node": "Parse Business Results", "type": "main", "index": 0 }]
      ]
    },
    "Parse Business Results": {
      "main": [
        [{ "node": "Process in Batches", "type": "main", "index": 0 }]
      ]
    },
    "Process in Batches": {
      "main": [
        [
          { "node": "Check Website Live", "type": "main", "index": 0 },
          { "node": "Groq AI Audit", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Website Live": {
      "main": [
        [{ "node": "Evaluate Website Status", "type": "main", "index": 0 }]
      ]
    },
    "Evaluate Website Status": {
      "main": [
        [{ "node": "Merge Website + AI Data", "type": "main", "index": 0 }]
      ]
    },
    "Groq AI Audit": {
      "main": [
        [{ "node": "Parse AI Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse AI Response": {
      "main": [
        [{ "node": "Merge Website + AI Data", "type": "main", "index": 1 }]
      ]
    },
    "Merge Website + AI Data": {
      "main": [
        [{ "node": "Compute Final Score", "type": "main", "index": 0 }]
      ]
    },
    "Compute Final Score": {
      "main": [
        [{ "node": "Save to Google Sheets", "type": "main", "index": 0 }]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [{ "node": "Is Weak Tier?", "type": "main", "index": 0 }]
      ]
    },
    "Is Weak Tier?": {
      "main": [
        [{ "node": "Generate Outreach Message", "type": "main", "index": 0 }],
        [{ "node": "Rate Limit Pause", "type": "main", "index": 0 }]
      ]
    },
    "Generate Outreach Message": {
      "main": [
        [{ "node": "Attach Outreach to Record", "type": "main", "index": 0 }]
      ]
    },
    "Attach Outreach to Record": {
      "main": [
        [{ "node": "Save Outreach to Sheet", "type": "main", "index": 0 }]
      ]
    },
    "Save Outreach to Sheet": {
      "main": [
        [{ "node": "Rate Limit Pause", "type": "main", "index": 0 }]
      ]
    },
    "Rate Limit Pause": {
      "main": [
        [{ "node": "Process in Batches", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "createdAt": "2025-01-01T00:00:00.000Z", "updatedAt": "2025-01-01T00:00:00.000Z", "id": "tag-001", "name": "business-discovery" },
    { "createdAt": "2025-01-01T00:00:00.000Z", "updatedAt": "2025-01-01T00:00:00.000Z", "id": "tag-002", "name": "free-stack" }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "v1.1.0"
}